<mat-sidenav-container class="shell">
  <!-- Sidebar -->
  <mat-sidenav class="side" mode="side" opened>
    <div class="side-inner">
      <div class="side-logo">
        <img src="assets/Mahindra-Logo.png" alt="Mahindra" />
      </div>

      <mat-nav-list class="nav">
        <a
          *ngFor="let item of visibleNavItems; trackBy: trackByNavPath"
          mat-list-item
          [routerLink]="[item.path]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="nav-ic">{{ item.icon }}</mat-icon>
          <div class="nav-title">{{ item.label }}</div>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item (click)="logout()" class="logout-row">
          <!-- <div class="logout-avatar">{{ loggedInInitial }}</div> -->

          <div class="logout-left">
            <div class="logout-copy">
              <div class="logout-welcome">WELCOME</div>
              <div class="logout-user">{{ loggedInUserName }}</div>
            </div>
            <div class="logout-action">
              <mat-icon class="logout-right">logout</mat-icon>
            </div>
          </div>

        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- Main -->
  <mat-sidenav-content class="main">
    <!-- Top menu -->
    <mat-toolbar class="topmenu">
      <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
      <button mat-button [matMenuTriggerFor]="maintMenu">Maintenance</button>
      <button mat-button [matMenuTriggerFor]="assocMenu">Associate</button>
      <button mat-button [routerLink]="['/app/reports']">Reports</button>
      <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">Exit</button>
    </mat-toolbar>

    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item>Users</button>
      <button mat-menu-item>Roles</button>
    </mat-menu>

    <mat-menu #maintMenu="matMenu">
      <button mat-menu-item>Device Config</button>
      <button mat-menu-item>Calibration</button>
    </mat-menu>

    <mat-menu #assocMenu="matMenu">
      <button mat-menu-item>Operator</button>
      <button mat-menu-item>Shift</button>
    </mat-menu>

    <mat-menu #helpMenu="matMenu">
      <button mat-menu-item>About</button>
      <button mat-menu-item>Support</button>
    </mat-menu>

    <!-- Header strip -->
    <div class="header-strip">
      <div class="header-left">
        <img class="mini-logo" src="assets/Mahindra-Logo.png" alt="Logo" />
      </div>

      <div class="header-title">MARKING CYCLE</div>

      <div class="header-right">
        <img class="mini-logo" src="assets/mahindra-new-logo.jpg" alt="Company" />
      </div>
    </div>

    <!-- ✅ VERY IMPORTANT -->
    <div class="workarea">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
